/*=============== NAV ===============*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.nav__logo:hover {
    color: var(--main-color);
}

.nav__logo img {
    max-width: 115px;
    height: auto;
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: var(--z-fixed);
    }
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__link:hover {
    color: var(--main-color);
}

.nav__button a {
    color: var(--white-color);
}

.nav__button {
    display: none;
}


/* Show menu */

.show-menu {
    right: 0;
}


/* Change background header */

.scroll-header {
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

.nav__item--desktop {
    display: block;
}

.nav__button {
    padding: 0.5rem 1.5rem;
    background-color: var(--main-color);
    color: #FFF;
    border-radius: 8rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__button:hover {
    background-color: var(--main-color-alt);
}

/*=============== BREAKPOINTS ===============*/


/* For small devices */

@media screen and (max-width: 320px) {

    .nav__item--desktop {
        display: inline-block;
    }
}


/* For medium devices */

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }

    .nav__logo img {
        max-width: 130px;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__item--desktop {
        display: none;
    }

    .nav__button {
        display: block;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        margin: 0 auto;
    }
}
